# Network Configuration
RPC_URL=https://rpc.orchard.quai.network
CHAIN_ID=15000

# Deployment Accounts (DO NOT COMMIT ACTUAL KEYS)
CYPRUS1_PK=your_private_key_here


# Quai Vault Addresses (deployed contracts - Cyprus1)
QUAI_VAULT_FACTORY=0x00233Cb4F587287aFe5c7e88b971A3a36b3ba0d6
QUAI_VAULT_IMPLEMENTATION=0x001e1c40f1B96f530eC816A68f760E34673Ee7b8
MULTISEND_LIBRARY=0x0060a725Ef00CB737f24F7e00da94c1Ce03bf1Dc

# Gas Settings
REPORT_GAS=false

